fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
python-dotenv
alembic
requests
google-genai
langchain
langchain-google-genai
redis
fastapi-cache2[redis]
scrapy
beautifulsoup4
newsapi-python
google-api-python-client

